&_next {
    padding: 0;
    
    width: 40px;
    height: 40px;

    background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    position: relative;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 40px;

        background-image: url("/assets/img/arrow_white.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}