&__name {
    display: block;

    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-family: $raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    color: $darkShadeBlack;
}