.profile-avatar {
    width: 100%;

    display: flex;
    align-items: center;

    @import "./__avatar/__avatar";
    @import "./__img/__img";
    @import "./__name/__name";
    @import "./__status/__status";
}