&__textfield {
    font-family: $raleway;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    color: $darkShadeBlack;

    border: 1px solid $darkShadeHalf;
    border-radius: 10px;

    width: 100%;
    height: 100px;
    padding: 15px 20px;

    resize: none;
    box-sizing: border-box;

    margin-bottom: 15px;

    display: block;

    outline: none;

    &:hover,
    &:focus {
        border-color: $darkShadeBlack;
    }
}