&__location {
    display: block;
    width: 250px;

    margin: 0;
    padding: 0;

    font-family: $raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;

    color: $darkShadeBlack;
}