@import "./Header/Header.scss";
@import "./Navigation/Navigation.scss";
@import "./ProfileAvatar/ProfileAvatar.scss";
@import "./Posts/Posts.scss";
@import "./Post/Post.scss";
@import "./ProfilePage/ProfilePage.scss";
@import "./Dialog/Dialog.scss";
@import "./Dialogs/Dialogs.scss";
@import "./Message/Message.scss";
@import "./User/User.scss";
@import "./Users/Users.scss";
@import "./Pagination/Pagination.scss";


.social-network {
    &__container {
        max-width: 1200px;
        width: 100%;

        margin: 0 auto;
        padding-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: 70%;
        min-height: 80vh;
        background-color: #fff;
        border-radius: 10px;

        box-sizing: border-box;
        padding: 15px 50px;

        box-shadow: 1px 1px 10px 3px rgba(109, 109, 109, 0.3);
    }
}